*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", sans-serif, monospace;
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: #252525;
}

#main #assistant{
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main #assistant #info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#main #assistant #info{
    font-size: 20px;
    color: #fff;
}

#main #assistant #name,
#main #input #content{
    animation-name: rainbow;
    animation-duration: 13s;
    animation-iteration-count: infinite;
}

#main #assistant #photo{
    padding: 10px;
    background: #fff;
    border-radius: 12px;
    animation-name: shake;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    box-shadow: 0 0 20px hsla(100, 100%, 100%, .25);
}

#main #input{
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

#main #input #talk{
    padding: 5px;
    border-radius: 50px;
    border: 2px solid #000;
    cursor: pointer;
    transition: .1s;
}

#main #input #talk:active{
    transition: .1s;
    transform: scale(0.95,0.95);
}

@keyframes rainbow{
    0%{
        color: #ff0000;
    }
    13%{
        color: #ffda00;
    }
    24%{
        color: #00ff08;
    }
    34%{
        color: #00ffda;
    }
    46%{
        color: #0012ff;
    }
    57%{
        color: #5100ff;
    }
    68%{
        color: #d600ff;
    }
    79%{
        color: #ff0092;
    }
    100%{
        color: #ff0000;
    }
}
@keyframes shake{
    0%{
        transform: translateY(0);
        box-shadow: 0 0 20px hsla(100, 100%, 100%, .25);
    }
    25%{
        transform: translateY(-50px);
        box-shadow: 0 0 20px hsla(100, 100%, 100%, .5);
    }
    50%{
        transform: translateY(0);
        box-shadow: 0 0 20px hsla(100, 100%, 100%, .25);
    }
    75%{
        transform: translateY(-50px);
        box-shadow: 0 0 20px hsla(100, 100%, 100%, .5);
    }
    100%{
        transform: translateY(0);
        box-shadow: 0 0 20px hsla(100, 100%, 100%, .25);
    }
}
